.App .modal-component .modal-card {
  max-width: 90vw;
  transform: translateY(20vh); }
  .App .modal-component .modal-card .modal-card-head, .App .modal-component .modal-card .modal-card-foot {
    background-color: #FFFFFF; }
  .App .modal-component .modal-card .modal-card-body {
    flex-grow: 0;
    background-color: #DDDDDD; }
  .App .modal-component .modal-card .modal-card-foot .is-success {
    background-color: #250848; }
    .App .modal-component .modal-card .modal-card-foot .is-success:hover {
      background-color: #DDDDDD;
      color: #250848; }
  .App .modal-component .modal-card .modal-card-foot .cancel {
    background-color: #DDDDDD; }
    .App .modal-component .modal-card .modal-card-foot .cancel:hover {
      background: #FFFFFF; }

@media screen and (max-width: 660px) {
  .App .modal-component .modal-card {
    transform: translateY(20px); } }
